/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-cjd-blocks-bubble-quote {
	padding: 0;
	margin: 0;

	&> * {
		margin-bottom: 0;
	}

	&:before {
		content: none;
	}

	p {
		font-weight: 400;
		line-height: var(--wp--custom--line-height--medium);
	}
}
